body {
    padding: 2em;
    margin: 0 auto;
    position: relative;
    max-width: 550px;
}
ul {
    margin-left: 1em;
}
.header {
    border: black solid 1px;
    padding: 1em;
}
.options-list li {
    list-style-type: none;
}
.options-list ul {
    margin-top: 0em;
}
.option-name {
    font-family: monospace;
}
.example, .html {
    width: 400px;
    border: black solid 1px;
    padding: 1em;
    margin: 20px;
}
.code-snippet {
    width: 500px;
    border: grey dashed 1px;
    padding: 1em;
    margin: 20px;
}
.html-snippet {
    width: 600px;
    border: grey dashed 1px;
    padding: 1em;
    margin: 20px;
}
.css-snippet {
    width: 600px;
    border: grey dashed 1px;
    padding: 1em;
    margin: 20px;
}
.link {
    font-weight: bold;
    margin-right: 3em;
}
.active {
text-decoration: underline;
}
td {
    border: none;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}

.custom-text {
    display: inline;
    padding-right: 20px;
}
.custom-editableText {
    border-bottom : 2px solid red;
}
