            <ul class="fl-clearfix">
                <li class="flc-uiOptions-playfulness">
                    <label for="playfulness">Playfulness</label>
                    <div class="fl-inputs">
                        <div class="fl-force-left">
                            <img class="fl-force-left fl-left-slider-image" src="../images/uio_icon_dull_10x10.png" alt="" />
                            <img class="fl-force-right fl-right-slider-image" src="../images/uio_icon_fun_20x20.png" alt="" />
                            <div class="flc-textfieldSlider-slider fl-slider fl-slider-horz"> </div>
                        </div>
                        <div class="fl-slider-input"><input id="playfulness" class="flc-textfieldSlider-field" type="text" /> times, compared to Tuesday</div>
                        
                    </div>
                </li>

                <li>
                    <label for="theme">Location</label>
                    <select class="flc-uiOptions-location fl-inputs" id="location"></select>  
                </li>

                <li>
                    <input type="checkbox" id="inputs-choice" class="flc-uiOptions-boots fl-force-left" />
                    <div class="fl-force-left">
                        <label for="inputs-choice">Add Boots</label>
                        <p class="fl-uiOptions-option-description">It gets slushy sometimes, so...</p>
                    </div>
                </li>        
            </ul>        
